RewriteEngine On

# Redirecionar /murilo para o servidor Laravel (mantendo o prefixo murilo)
RewriteCond %{REQUEST_URI} ^/murilo(.*)$
RewriteRule ^murilo(.*)$ http://127.0.0.1:8000$1 [P,L]

# Para todas as outras rotas, servir o React
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L] 