@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Font Inter */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'); /* Font Montserrat */

@import "tailwindcss";

@theme {

  --color-azulEscuro: #0d1321;
  --color-beje: #f0ebd8;
  --color-cinzaClaro: #8c949c;  
  

}

body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #47484a; */
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

